/* Remove Default Styling */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  /* Backgorund Colours */
  --primary-bg-colour: #0f1519;
  --secondary-bg-colour: #111111;
  /* Selection and Highlight Colours */
  --primary-selection-colour:#292d31;
  --primary-highlight-colour: #383e42;
  --secondary-selection-colour: #282828;
  --secondary-highlight-colour: #333333;
  /* Accent Colours */
  --primary-colour: #00c8c8;
  --secondary-colour: #c69d57;

  --primary-font: 'Nunito','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* REACT */


/* ELEMENT STYLING */
/* ELEMENT STYLING sections */
html, body {
  width: 100vw;
  max-width: 100%;
  background-color: var(--primary-bg-colour);
  /* Font-Styling */
  color: white;
  font-family: var(--primary-font);
}
header {
  justify-content: space-between;
  height: 5rem;
  width: 100%;
  background-color: var(--secondary-bg-colour);
  border-bottom: 2px solid var(--secondary-selection-colour);
}
footer {
  justify-content: center;
  height: 5rem;
  width: 100%;
  background-color: black;
  border-top: 2px solid var(--primary-selection-colour);
  font-size: 14px;
  position: absolute;
  bottom: 0;
}
main {
  width: 100%;
}
form {
  width: 100%;
  font-family: var(--primary-font);
  /* display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold; */
}
label, input {
  padding: 10px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
}
label {
  font-size: 1.25rem;
}
.input-group {
  width: 100%;
}
.input-group label {
  position: relative;
  top: 10px;
  right: 10px;
  font-size: 1rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
a {
  text-decoration: none;
}

/* GENERAL CLASSES */
.container {
  padding: 10px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tournament-container {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-header {
  padding: 20px;
  justify-content: space-between;
}
.page-container {
  position: relative;
  min-height: 100vh;
}
.content-container {
  padding-bottom: 5rem;
}
.center-vertical {
  display: flex;
  align-items: center;
}
.center-horizontal {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.center-text {
  text-align: center;
}
.line {
  margin-top: 10px;
  width: 100%;
  height: 2px;
  background-color: var(--primary-selection-colour);
}
button, .button {
  width: auto;
  color: var(--secondary-colour); 
  background-color: var(--primary-selection-colour);
  border-radius: 15px;
  padding: 15px;
  font-size: 1rem;
  text-decoration: none;
  border: var(--primary-highlight-colour) 1px solid;
}
button:hover, .button:hover {
  cursor: pointer;
  background-color: var(--primary-highlight-colour);
  transition: 0.5s;
  box-shadow: inset 0 0 1px var(--secondary-colour);
}
select {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
}


/* HEADER */
header a {
  color: white;
  text-decoration: none;
}
/* HEADER Title */
#logo {
  width: 40px;
  height: 40px;
}
.title {
  display: flex;
  align-items: center;
  margin: 10px;
}
.title h1 {
  font-size: 1rem;
}
.title-text {
  padding-left: 5px;
}
.title:hover #logo {
  filter: sepia(98%) saturate(2040%) hue-rotate(139deg) brightness(75%) contrast(103%);
  transition: 0.5s;
}
.title:hover h1 {
  color: var(--primary-colour);
  transition: 0.5s;
}
/* HEADER Nav */
nav {
  margin: 10px;
}
.navLink {
  padding: 10px;
  border-radius: 15px;
}
a .lineHighlight {
  position: relative;
  top: 20px;
  height: 3px;
  background-color: var(--secondary-bg-colour);
  border-radius: 20px;
}
.navLink:hover {
  background-color: var(--primary-highlight-colour);
  box-shadow: inset 0 0 1px var(--primary-colour);
  transition: 0.5s;
}
a .lineHighlight {
  background-color: var(--secondary-bg-colour);
  transition: 1s;
}
a:hover .lineHighlight {
  background-color: var(--primary-colour);
  transition: 0.25s;
}

/* MAIN BODY */
/* Tournament */
.card {
  width: 100%;
  margin: 10px;
  padding: 10px;
  padding-left: 30px;
  border-radius: 10px;
  background-color: var(--primary-selection-colour);
  color: white;
}
.card:hover {
  cursor: pointer;
  background-color: var(--primary-highlight-colour);
}
.tournament-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  color: white;
  border-radius: 10px;
  border: var(--primary-highlight-colour) 1px solid;
}
.tournament-info {
  display: block;
  color: white;
  padding: 20px;
  flex-grow: 1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--primary-selection-colour);
}
.tournament-info:hover {
  background-color: var(--primary-highlight-colour);
  transition: 0.5s;
  box-shadow: inset 0 0 2px var(--secondary-colour);
}
.tournament-del {
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--secondary-bg-colour);
  width: 2rem;
}
.tournament-del:hover {
  background-color: var(--secondary-colour);
  transition: 0.5s;
  box-shadow: inset 0 0 2px var(--primary-highlight-colour);
}
.tournament-info p {
  color: var(--secondary-colour);
  font-style: italic;
  font-weight: 100;
}
#addTournament {
  font-size: 1rem;
  display: inline;
  
}
#tournamentId, #findTournament, #signin{
  margin-top: 30px;
}
.tournament-bracket {
  display: flex;
  width: 100%;
  margin: 20px; 
  overflow: scroll;
  border-radius: 10px;
  background-color: var(--secondary-selection-colour)
}
.tournament-bracket::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--secondary-bg-colour)
}
.tournament-bracket::-webkit-scrollbar-corner {
  background-color: var(--secondary-bg-colour);
}
.tournament-bracket::-webkit-scrollbar-button {
  width: 0.5rem;

  border-radius: 10px;
}
.tournament-bracket::-webkit-scrollbar-thumb {
  background: var(--primary-selection-colour);
  border-radius: 10px;
}
.team {
  cursor: pointer;
  border-radius: 10px;
  width: 200px;
  text-overflow: ellipsis;
  padding: 10px;
  margin: 10px;
  background-color: var(--primary-highlight-colour)
}
.team:hover {
  background-color: var(--secondary-colour);
  transition: 0.5s;
  box-shadow: inset 0 0 1px var(--primary-highlight-colour);
}
.match-set {
  border: 1px black solid;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}
.match {
  margin: 25px;
}






/* FOOTER */


/* Desktops */
@media screen and (min-width: 1024px) {
  
}

/* Tablets */
@media screen and (max-width: 1279px) and (min-width: 769px) {

}

/* Larger Phones */
@media screen and (max-width: 768px) and (min-width: 481px) {
  .title-text {
    display: inline;
  }
  .container {
    width: 80%;
  }
}

/* Phones */
@media screen and (max-width: 480px){
  .title-text {
    display: none;
  }
  .container {
    width: 100%;
  }
}
